/* ===== FONTS ===== */


/* ===== ROOT VARIABLES ===== */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-background: #F1F5F7;
  --basic-greylight: #C5C5C5;
  --basic-grey: #3D546F;
  /* ===== COLORS HEADER ===== */
  --mostly-black-blue: #161D29;
  --more-darken-blue: #1D2739;
  --darken-blue: #32425C;
  --dark-blue: #293449;
  --dark-moderate-green: #518534;
  --darken-green: #367315;
  --dark-green: #63A63E;
  --medium-green: #5FBB2D;
  --more-strong-red: #BA2732;
  --strong-red: #CA2C37;
  --bright-red: #EE3643;
  --light-gray: #F3F7F9;
  /* ===== PROMO-BLOCK COLORS ===== */
  --orange: #FFBF47;
  --bright-cyan: #3BBCE3;
  --magenta: #DC91D8;
  --lime-green: #8ED78F;
  /* Popular-products colors */
  --grayish-orange: #F9F5F0;
  --very-light-gray: #EAEAEA;
  --gray: #A9A9A9;
  /* ===== RGB COLORS ===== */
  --basic-white-rgb: 255, 255, 255;
  --basic-black-rgb: 0, 0, 0;
  --basic-greylight-rgb: 197, 197, 197;
  --grey-rgb: 169, 169, 169;
  --darken-blue-rgb: 50, 66, 92;
  /* ===== CATALOG COLORS ===== */
  --grayish-blue: #F2F6F8;
  --pagination-very-light-gray: #E5E5E5;
  --light-grayish-orange: #F7F3EC;
  /* ===== SERVICES COLORS ===== */
  --very-dark-blue: #405069;
  /* ===== FOOTER COLORS ===== */
  --desaturated-blue: #212A3A;
  --special-orange: #FFD180;
  /* ===== FONTS VARIABLES ===== */
  --cuprum: "Cuprum", Arial, sans-serif;
  --ptsans: "PT Sans", Arial, sans-serif;
}


/* ===== GLOBAL ===== */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--cuprum);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  font-size: 14px;
  line-height: 40px; /* <Костыль> вертикальное выравнивание текста по кнопке*/
  color: var(--basic-white);
  background-color: var(--bright-red);
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  background-color: var(--strong-red);
}

.button:active {
  background-color: var(--more-strong-red);
}

.new-product {
  width: 100px;
  height: 30px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 30px;
  background-color: var(--bright-red);
  text-transform: uppercase;
  text-align: center;
}

/* ====== GRID ====== */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* ===== HEADER ===== */

.main-header {
  background-color: var(--basic-background);
}

.main-header-bar {
  background-color: var(--dark-blue);
  min-height: 42px;
  margin-bottom: 46px;
}

.logo-img {
  width: 108px;
  height: 18px;
  background-color: var(--bright-red);
  box-shadow: inset 0 -5px 0 rgba(var(--basic-black-rgb), 0.24);
  padding: 12px 57px 17px 55px;
}

.logo-img:active {
  background-color: var(--more-strong-red);
}

.user-block {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 42px;
  width: 940px;
  margin: 0 auto;
}

.main-logo-container {
}

.main-logo-container:active {
  background-color: var(--more-strong-red);
}

.user-block-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-label {
  position: relative;
}

.search-label svg {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  left: 15px;
  top: 2px;
  opacity: 0.3;
}

.search-label:hover svg{
  opacity: 1;
}

.search {
  Width: 270px;
  height: 42px;
  border: none;
  background: transparent;
  color: black;
  outline: none;
  padding: 0 42px;
}

.search:focus {
  background: white;
}

.search:focus + svg path {
  fill: red;
}

.search:focus + svg {
  opacity: 1;
}

.search-label svg:focus path{
  fill: red;
}

.search::-webkit-input-placeholder {
  color:#fff;
  font-size: 18px;
  line-height: 24px;
}

.user-block-item {
  position: relative;
  text-align: center;
}

.user-block-search p {
  margin: 0;
  padding: 0;
}

.user-block-search p:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.user-block-favourites {
  margin-left: auto;
}

.user-block a:not(.main-logo-container) {
  display: block;
  width: 150px;
  padding: 9px 10px 9px 10px;
  box-sizing: border-box;
}

.user-block-favourites a:active {
  background-color: var(--mostly-black-blue);
  color: rgba(var(--basic-white-rgb), 0.5);
}

.not-empty-cart a {
  background-color: var(--bright-red);
}

.user-block-cart a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-block-cart a:hover::before {
  opacity: 1;
}

.user-block-cart a:active::before {
  opacity: 0.3;
}


.user-block-cart a:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.user-block-menu a {
  color: var(--basic-white);
}

.user-block-order {
}

.user-block-favourites a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 14px;
  height: 16px;
  background-image: url("../img/favourites.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-block-favourites a:hover::before {
  opacity: 1;
}

.user-block-favourites a:active::before {
  opacity: 0.3;
}

.user-block-order a {
  background-color: var(--dark-green);
}

.user-block-order a:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.user-block-order a:hover {
  background-color: var(--medium-green);
}

.user-block-order a:active {
  background-color: var(--dark-green);
}


/* ===== HEADER > MIDDLE BLOCK ===== */

.header-middle-block {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.middle-block-text {
  color: var(--bright-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0 30px;
}

.header-address-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-address-phone {
  color: var(--bright-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  font-family: var(--cuprum);
  background-color: var(--light-gray);
  border: 3px solid var(--basic-white);
  padding: 7px 45px 8px 74px;
}

.header-address-phone::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 40px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address-text {
  color: var(--darken-blue);
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin: 3px 0 0 0;
}

.header-user-buttons {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.header-login svg {
  position: absolute;
  content: "";
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-login:hover path {
  fill: var(--basic-grey);
}

.header-login:active path {
  fill: var(--basic-greylight);
}

.header-login {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  padding: 12px 27px 12px 45px;
  Margin-right: 10px;
}

.header-login:hover {
  color: var(--bright-red);
}

.header-login:active {
  color: var(--basic-greylight);
}

.header-registration {
  padding: 12px 24px;
}

.header-registration:hover {
  color: var(--bright-red);
}

.header-registration:active {
  color: var(--basic-greylight);
}

.account-name {
  position: relative;
  display: block;
  color: var(--basic-black);
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  width: 300px;
  min-height: 45px;
  background-color: var(--basic-white);
  padding: 12px 55px 12px 55px;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.user {
  text-decoration: none;
  font-family: var(--cuprum);
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  }

.icon-logout {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 14px;
  right: 20px;
}

.icon-logout:hover path{
  fill: var(--basic-grey);
}

.icon-logout:active path{
  fill: var(--basic-greylight);
}

.user:hover path {
  fill: var(--basic-grey);
}

.user:active, .user:active path {
  color: var(--basic-greylight);
  fill: var(--basic-greylight);
}

.icon-userpic {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 13px;
  left: 15px;
}

.account-name:active {
  color: var(--basic-greylight);
}

.account-orders {
  position: relative;
  color: var(--darken-blue);
  font-size: 16px;
  line-height: 18px;
}

.account-block::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 10px;
  right: 160px;
  border-radius: 50%;
  background-color: var(--darken-blue);
}

.account-orders:hover {
  color: var(--bright-red);
}

.account-orders:active {
  color: var(--basic-greylight);
}

.account-block {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 7px 0 0 0;
}

.account-cabinet {
  color: var(--darken-blue);
  font-size: 16px;
  line-height: 18px;
}

.account-cabinet:hover {
  color: var(--bright-red);
}

.account-cabinet:active {
  color: var(--basic-greylight);
}

.header-registration {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}


/* ===== HEADER > NAVIGATION ===== */

.main-navigation {
  width: 940px;
  margin: 48px auto 60px;
  background-color: var(--darken-blue);
  box-shadow: inset 0 -5px 0 var(--dark-blue);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  Display: block;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  padding: 16px 24px 20px 27px;
}

.site-navigation :first-child a {
  padding-left: 52px;
}

.site-navigation :last-child a {
  padding-right: 47px;
}

.site-navigation li {
  list-style-type: none;
}

.site-navigation li:hover {
  background-color: var(--dark-blue);
  box-shadow: inset 0 -5 0 var(--dark-blue);
}

.site-navigation li:active {
  background-color: var(--more-darken-blue);
}

.site-navigation a:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}


/* ===== CATALOG ===== */

.catalog-grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.catalog-product-grid {
  display: grid;
  grid-template-rows: min-content 1fr;
  column-gap: 20px;
  row-gap: 28px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-sorting {
  display: grid;
  position: relative;
  grid-template-rows: min-content;
}

.sorting-options {
  display: grid;
  grid-template-columns: 160px 1fr 80px;
  background-color: var(--light-grayish-orange);
  min-height: 38px;
}

.sorting-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--ptsans);
  font-weight: 400;
  padding: 10px 40px 10px 0;
}

.sorting-link {
  color: rgba(var(--basic-black-rgb), 0.3);
  border-bottom-style: dotted;
  border-bottom-color: var(--bright-red);
  border-bottom-width: 1px;
}

.sorting-link:hover {
  color: var(--basic-black);
  border-bottom-style: solid;
}

.sort-active {
  color: var(--bright-red);
  border-style: none;
}

.sort {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: auto;
  padding-left: 19px;
}

.arrows {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: auto;
}

.price-type {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-form label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-form form, .filter-form input, .filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filter-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0;
  padding: 0;
}

.filter-form fieldset {
  font-family: var(--ptsans);
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

}

.filter-name {
  background-color: var(--light-grayish-orange);
  margin-bottom: 14px;
}

.filter-name p {
  display: flex;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--ptsans);
  font-weight: 400;
  margin: 10px 0 10px 18px;
}

.filter-price-block {
  font-size: 17px;
  line-height: 30px;
  font-family: var(--ptsans);
  font-weight: 700;
}

.filter-price-block p {
  margin: 0;
}

.filter-manufacturer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.filter-manufacturer p {
  font-size: 17px;
  line-height: 30px;
  font-family: var(--ptsans);
  font-weight: 700;
  margin: 0 0 17px 0;
  padding: 0;
}

.manufacturer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  font-family: var(--ptsans);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.manufacturer-item {
  margin: 0 020px 35px;
}

.filter-power {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filter-power p {
  font-size: 17px;
  line-height: 30px;
  font-family: var(--ptsans);
  font-weight: 700;
  margin: 0 0 23px 0;
}

.power-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: var(--ptsans);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.power-item {
  margin: 0 020px 35px;
}

.filter-button {
  display: flex;
  min-height: 38px;
  width: 220px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--basic-white);
  border: 1px solid var(--pagination-very-light-gray);
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: var(--ptsans);
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  padding: 5px 5px;
}

.catalog {
  display: grid;
}

.catalog-top {
  min-height: 89px;
  background-color: var(--grayish-blue);
  padding-right: 600px;
  margin-bottom: 20px;
}

.catalog-header {
  max-width: 650px;
  color: var(--darken-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 29px 0 30px 29px;
  margin: 0;
}

.catalog-list {
  position: relative;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.catalog-product-box {
  background-color: var(--basic-white);
  border: 1px solid var(--very-light-gray);
  box-sizing: border-box;
}

.catalog-pagination-list {
  display: flex;
  list-style-type: none;
  margin-left: 200px;
}

.catalog-pagination-item {
  margin-right: 10px;
}

.pagination-page {
  display: block;
  width: 38px;
  text-align: center;
  font-family: var(--ptsans);
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--pagination-very-light-gray);
  border-radius: 2px;
  text-transform: uppercase;
  padding: 10px 0;
}

.next-page {
  width: 140px;
}

.pagination-page:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-page:active {
  border: 1px solid var(--bright-red);
}

.afteword-bg {
  background-color: var(--basic-background);
}

.catalog-afterword {
}

.afterword-header {
  padding: 64px 0 25px 0;
}

.afterword-text {
  font-family: var(--ptsans);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 68px 0;
}

.pagination-active {
  background-color: var(--bright-red);
  color: var(--basic-white);
  border: 1px solid var(--bright-red);
  user-select: none;
}

.pagination-active:hover {
  border: 1px solid var(--bright-red);
}

.afterword-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 400;
}

.afterword-text {
  font-family: var(--ptsans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* ===== MAIN ===== */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ===== PROMO-BLOCK ===== */

.promo-block {
  position: relative;
}

/* ===== PROMO-BLOCK > SLIDER ===== */

.main-slider {
  position: absolute;
  top: 143px;
}

.main-slider-slide {
  display: none;
}

.current-slide {
  display: block;
}

.main-slider-background {
  position: absolute;
  background-color: rgba(var(--basic-black-rgb), 0.25);
  width: 620px;
  height: 104px;
}

.main-slider-header {
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  Padding-left: 24px;
  padding-top: 23px;
  margin: 0;
}

.main-slider-subheader {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
  padding-left: 24px;
}

.slider-button {
  width: 192px;
  height: 38px;
  position: absolute;
  top: 201px;
  left: 24px;
}

.slider-controls {
  display: flex;
  position: absolute;
  top: 220px;
  left: 295px;
  width: 30px;
  justify-content: space-between;

}

.slider-controls button {
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slider-controls button:focus, .slider-controls button:active  {
  outline: none;
}

.slider-controls .current {
  width: 10px;
  height: 10px;
  background-color: var(--bright-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-arrow {
  position: absolute;
  width: 23px;
  height: 41px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.previous-slide {
  top: 123px;
  left: 25px;
  background-image: url("../img/icon-next-slider.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.next-slide {
  top: 123px;
  right: 25px;
  background-image: url("../img/icon-next-slider.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.previous-slide:hover, .next-slide:hover {
  opacity: 0.5;
}

/* ===== PROMO-BLOCK  >  PARTITIONS=====  */

.promo-list {
  list-style-type: none;
  margin: 59px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  grid-template-areas:
  "mats inst tech"
  ". . sale"
  ". . delivery";
}

.mats {
  grid-area: mats;
}

.mats::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url("../img/icon-paint.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inst {
  grid-area: inst;
}

.inst::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  background-image: url("../img/icon-screwdriver.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tech {
  grid-area: tech;
}

.tech::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sale {
  grid-area: sale;
}

.sale::before {
  position: absolute;
  content: "";
  width: 59px;
  height: 73px;
  top: 27px;
  right: 45px;
  background-image: url("../img/icon-full-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  grid-area: delivery;
}

.delivery::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-item {
  position: relative;
  overflow: hidden;
}

.new-promo {
  position: absolute;
  top: -10px;
  right: -25px;
  transform: rotate(45deg);
}

.promo-item h3 {
  margin: 0;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding: 20px 49px 14px 23px;

}

.promo-item-link-text {
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: rgba(var(--basic-white-rgb), 0.3);
  margin-left: 23px;
  padding: 10px 0 10px 0;
  display: block;
  text-align: center;
}

.promo-item-link-text:hover {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.promo-item-link-text:active {
  background-color: rgba(var(--grey-rgb), 0.3);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-bright-cyan {
  background-color: var(--bright-cyan);
}

.bg-magenta {
  background-color: var(--magenta);
}

.bg-lime-green {
  background-color: var(--lime-green);
}


/* ===== POPULAR PRODUCTS ===== */

.popular-products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 89px;
  max-height: 400px;
  background-color: var(--grayish-orange);
  margin-bottom: 20px;
}

.popular-button {
  width: 192px;
  min-height: 38px;
  margin-bottom: auto;
  margin-top: 25px;
  margin-right: 19px;
}

.popular-product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.popular-products-header {
  max-width: 650px;
  color: var(--darken-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 28px;
}

.product-box {
  min-height: 318px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
  border: 1px solid var(--very-light-gray);
  overflow: hidden;
}

.product-box:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.product-box p {
  padding: 0;
  margin: 0;
}

.new-popular {
  position: absolute;
  top: 5px;
  right: -30px;
  transform: rotate(45deg);
}

.product-box:hover img {
  display: none;
}

.product-box:hover .product-popup {
  display: flex;
  flex-direction: column;
}

.product-name h3 {
  order: 0;
  color: var(--basic-black);
  font-family: var(--ptsans);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
}

.old-price {
  display: block;
  font-family: var(--ptsans);
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--gray);
  padding-bottom: 13px;
}

.product-container {
  display: flex;
  order: -1;
  height: 164px;
  width: auto;
  justify-self: center;
  align-items: center;

}

.product-popup {
  display: none;
}

.product-box .product-price {
  position: relative;
  order: 3;
  color: var(--basic-white);
  font-family: var(--ptsans);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: auto 0 21px 0;
  padding: 10px 0 0 0;
}

.price-bg {
  display: block;
  width: 141px;
  height: 38px;
  background-color: var(--bright-red);
  background-image: linear-gradient(225deg, white 14px, transparent 14px),
  linear-gradient(315deg, white 14px, transparent 14px);
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.button-buy-box {
  background-color: var(--dark-green);
  box-shadow: inset 0 -3px 0 var(--darken-green);
  border-radius: 2px;
  margin-bottom: 10px;
}

.button-buy-box:hover {
  background-color: var(--medium-green);
  box-shadow: inset 0 -3px 0 var(--darken-green);
}

.button-buy-box:active {
  background-color: var(--dark-moderate-green);
  box-shadow: inset 0 -3px 0 var(--darken-green);
}

.button-favourites-box {
  border: 3px solid var(--dark-green);
  height: 38px;
  box-sizing: border-box;
}

.button-favourites-box:hover {
  border: 3px solid var(--darken-blue);
  box-sizing: border-box;
}

.button-favourites-box:active {
  border: 3px solid rgba(var(--darken-blue-rgb), 0.5);
  box-sizing: border-box;
}

.button-buy {
  position: relative;
  display: block;
  min-width: 135px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 12px 10px 25px;
  box-sizing: border-box;
}

.button-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30px;
  top: 10px;
  background-image: url("../img/icon-cart.svg");
  z-index: 999;
  opacity: 0.3;
}

.button-favourites {
  display: block;
  min-width: 135px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: var(--darken-blue);
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  box-sizing: border-box;
}

.button-favourites:active {
  color: rgba(var(--darken-blue-rgb), 0.5);
}


/* ===== PARTNERS BLOCK ===== */

.partners-block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 89px;
  max-height: 400px;
  background-color: var(--grayish-orange);
  margin: 20px 0 20px 0;
}

.partners-block-header {
  max-width: 650px;
  color: var(--darken-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 28px;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 145px 145px;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.partners-image {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.partners-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.partners-item {
  background-color: var(--basic-white);
  border: 1px solid var(--very-light-gray);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-item:active {
  opacity: 0.5;
}


/* ===== INFORM BLOCK =====  */


.inform-block {
  background-color: var(--basic-background);
  min-height: 522px;
  margin-top: 70px;
}


.inform-block-header {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 64px 0 25px 0;
}

.inform-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.inform-services {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 238px 1fr;
}

.inform-positioner {
  grid-column-start: 1;
  grid-column-end: 3;
}

.inform-services-text {
  font-family: var(--ptsans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0 0 70px 0;
}

.display-none {
  display: none;
}

.services-slider {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-slider::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  top: -45px;
  right: 0;
  background-image: url("../img/slider-shadow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slider-item {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  list-style-type: none;
  background-color: var(--darken-blue);
  box-shadow: 0 1px 0 var(--dark-blue), inset 0 1px 0 var(--very-dark-blue);
  cursor: pointer;
  margin: 0;
  padding: 13px 139px 18px 22px;
}

.services-slider-item:hover {
  background-color: var(--dark-blue);
  color: var(--basic-white);
}

.services-slider-item:active {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white), inset 0 1px 0 var(--basic-white);
  color: var(--darken-blue);
}

.active {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white), inset 0 1px 0 var(--basic-white);
  color: var(--darken-blue);
}

.services-slider-headers {
  position: relative;
  color: var(--darken-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.services-slider-headers::after {
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  left: 190px;
  background-image: url("../img/delivery-car-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slider-description {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.services-slider-definition {
  padding-left: 80px;
}

.services-slider-text {
  font-family: var(--ptsans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  font-weight: 400;
  margin: 30px 0 0 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-top: 70px;
}

.about-header {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.about-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-company-text,
.about-contacts-text {
  font-family: var(--ptsans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.about-company-text {
}

.about-contacts-text {
  margin-bottom: 32px;
}

.about-contacts-image {
  margin-bottom: 25px;
}

.about-contacts-writeus {
  width: 300px;
  height: 38px;
  margin-bottom: 79px;
}

.more-info {
  width: 220px;
  height: 38px;
  margin-top: 20px;
  margin-bottom: 79px;
}

.about-partners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-partners p:nth-child(3) {
  margin-bottom: 45px;

}

.about-partners-list {
  margin: 6px 0 0 0;
  padding: 0;
}

.about-partners-item {
  position: relative;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  margin-left: 37px;
}

.about-partners-item::before {
  position: absolute;
  content: "";
  left: -37px;
  top: 12px;
  border-bottom: 2px solid red;
  width: 25px;

}

/* ===== BREADCRUMBS ===== */

.breadcrumbs {
  list-style-type: none;
  display: flex;
  Padding: 0;
  margin: 21px 0 20px 0;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item a {
  font-style: var(--ptsans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0 20px 0 20px;
}

.breadcrumbs-item:first-child a {
  padding-left: 0;
}

.home {
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 20px;
  vertical-align: center;
}

.breadcrumbs-item:first-child a::before {
  display: none;
}

.breadcrumbs-item a::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 14px;
  top: 6px;
  left: -5px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;



}

.breadcrumbs li:last-child {
  user-select: none;
}

/* ===== FOOTER ===== */

.main-footer {
  background-color: var(--darken-blue);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: min-content min-content;
}

.footer-bottom {
  background-color: var(--dark-blue);
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer-menu {
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 37px 0 0 0;
}

.footer-menu-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.footer-navigation-item a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  margin: 0 30px 0 30px;
}

.footer-navigation-item:nth-child(5n) a {
  margin-right: 0;
}

.footer-navigation-item a:hover {
  text-decoration-line: underline;
}

.footer-navigation-item a:active {
  opacity: 0.5;
  text-decoration-line: none;
}

.footer-address p {
  margin: 15px 0 0 0;
  padding: 0;
}

.footer-address {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  color: var(--light-gray);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  margin: 0 0 54px 0;
}

.footer-address-phone {
  color: var(--light-gray);
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  grid-row-start: 2;
  grid-row-end: 3;
  margin: 25px 0 0 0;

}

.footer-menu-partitions {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 0 54px 0;
}

.footer-menu-item {
  padding-bottom: 10px;
}

.footer-menu-item a {
  color: var(--special-orange);
  font-size: 18px;
  line-height: 24px;
  margin-right: 58px;
}


.footer-menu-item:last-child a {
  margin-right: 0;
}

.footer-menu-item a:hover {
  text-decoration-line: underline;
}

.footer-menu-item a:active {
  opacity: 0.5;
  text-decoration-line: none;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  max-width: 230px;
  list-style-type: none;
  padding: 0;
  margin: 27px 0 29px 0;
}

.social-vk, .social-fb, .social-insta {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  background-color: var(--desaturated-blue);
  border-radius: 50%;
  margin: 0 1px;
}

.social-vk::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 15px;
  top: 14px;
  left: 10px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-fb::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  top: 10px;
  left: 15px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-insta::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 11px;
  left: 12px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-vk:hover, .social-fb:hover, .social-insta:hover {
  background-color: var(--bright-red);
}

.social-item:active {
  background-color: var(--bright-red);
}

.footer-feedback {
  display: flex;
  justify-content: flex-end;
}

.feedback-text {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  margin: 35px 13px 35px 51px;
}

.feedback-link {
  color: var(--special-orange);
}

.feedback-link:hover {
  text-decoration-line: underline;
}

.feedback-link:active {
  color: var(--bright-red);
  text-decoration-line: none;
}
